*.json
*.swp
*~

**/.idea

obfs4proxy/obfs4proxy
.idea/misc.xml
.idea/modules.xml
.idea/shapeshifter-transports.iml
.idea/vcs.xml
.idea/workspace.xml
transports/.DS_Store
transports/Replicant/ReplicantServerConfig.json
transports/Replicant/ReplicantClientConfig.json
